:root {
    --background: #5b5b5b;
    --section-color: #373737;

}

html {
    background-color: var(--section-color);
    color: white;
}

a {
    all: unset;
}

h1 {
    display: flex;
    justify-content: center;
}

header p {
    display: flex;
    justify-content: center;
}

.page-nav {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    width: 100%;
}

.page-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative; 
    background-color: var(--section-color);
    z-index: 1;
}

.page-nav li {
    margin-right: 15px;
    z-index: 2;
    margin-left: 15px;   
}

.page-nav .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 2px dashed #b22222;
    z-index: 0;
}

#introduction p {
    display: flex;
    justify-content: center;
}

#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: opacity 0.5s ease;
    justify-content: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: opacity 0.5s ease;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    visibility: collapse;
}

#project-grid {
    visibility: visible;
}

.project {
    display: grid;
    border: 2px solid white;
    gap: 10px;
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: opacity 0.5s ease;
    place-items: center;
    justify-items: center;
    
}


  

.projects-section {
    display: flex;
    justify-content: center;
    height: 500px;
    
}

#project-title {
    margin-left: 45%;
    margin-right: 55%;
}

button {
    background-color: var(--section-color);
    z-index: 2;
}

.right-arrow, .left-arrow {
    border: 1px solid white;
    border-radius: 5px;
    height: 376px;
    width: 100px;
    margin-top: 3%;
}
.right-arrow {
    margin-right: 20px;
}

.left-arrow {
    margin-left: 20px;
}

.project-buttons {
    display: flex;
    gap: 150px;
    position: relative;
    justify-content: center;
}

button p {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    font-size: x-large;
}

.left-projects, .right-projects {
    width: 350px;
    height: 400px;
    place-content: center;
    
}



